.border {
    border: 2px solid blue;
}

.blue {
    background-color: #15152b;
}

.color_white {
    color: white;
}

.menu-write, h1 {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    color: white;
    padding: 20px;
    position: relative;
    cursor: pointer;
}

.box-write li {
    list-style: none;
    color: black;
    line-height: 0.5;
}

.transition {
    transition: all .3s ease-in;
}

.none {
    display: none;
}

.menu_box {
    background-color: #fff;
    border: 2px solid black;
    position: absolute;
    color: black;
}