<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <title>Document</title>
</head>
<body>
    <div id="container_vue">
        <nav class="blue">
            <h1 :class="white">{{message}}</h1>
            <ul>
                <li @click="clickMenu" v-for="item in arrayMenu">
                    {{item}}
                    <div v-if = "none" class="menu_box" :class="none" v-for="name in arrayBox">
                        {{name}}
                    </div>
                </li>
            </ul>
        </nav>
            <header>
                <img :src="img" :alt="alt" :class="border">
            </header>
    </div>
    
    


    <script src="js/script.js"></script>
</body>
</html>